
.screen-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  direction: ltr; 
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box; 
}

.popup-content {
  direction: rtl; 
  background-color: white;
  width: 90%;
  max-width: 700px;
  box-sizing: border-box; 
  padding: 60px 40px; 
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: auto; 
}

.popup-content h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;
  line-height: 1.4;
}

.popup-button {
  background: linear-gradient(180deg, #5cb85c 0%, #4cae4c 100%);
  color: white;
  border: none;
  padding: 15px 60px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(40, 167, 69, 0.4);
}

.popup-button:active {
  transform: scale(0.98);
}


@media (max-width: 600px) {
  .popup-content {
    max-width: 350px; 
    padding: 40px 25px;   
    gap: 25px;
  }

  .popup-content h3 {
    font-size: 1.35rem; 
  }

  .popup-button {
    padding: 12px 40px;
    font-size: 1.2rem;
  }
}