
.scenario-wrapper {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background-color: #000; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
}

.scenario-card {
  width: 100%;
  max-width: 800px; 
  background-color: #0a0a0a; 
  background-image: 
    linear-gradient(rgba(255, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 30px 30px; 
  border: 4px solid #ff0000;
  box-shadow: 
    0 0 30px rgba(255, 0, 0, 0.8),
    inset 0 0 30px rgba(255, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  color: #ffffff;
  direction: rtl;
  font-family: 'Heebo', 'Roboto', 'Segoe UI', sans-serif;
}

.scenario-title {
  font-size: 3rem;
  font-weight: 900;
  color: #ff0000;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  animation: alarmPulse 1s infinite ease-in-out;

}

.siren-icon {
  font-size: 2.5rem;
}

.scenario-description {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #ffffff;
}

.mission-box {
  text-align: right;
  margin-bottom: 40px;
  display: inline-block;
}

.mission-box h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ffffff;
}

.mission-box ul {
  list-style-type: disc;
  padding-right: 25px;
  margin: 0;
}

.mission-box li {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #e0e0e0;
}

.mission-box li strong {
  color: rgb(227, 227, 63);
  font-weight: 900;
}

.start-practice-btn {
  width: 100%;
  max-width: 500px;
  padding: 15px 0;
  background-color: #d60000;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(220, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.start-practice-btn:hover {
  background-color: #ff0000;
  box-shadow: 0 0 40px rgba(255, 0, 0, 0.9);
}

@keyframes alarmPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 30px  #000(255, 0, 0, 0.8), inset 0 0 30px  #000(255, 0, 0, 0.4);
    border-color: #000;
  }
  50% {
    transform: scale(1.02); 
    box-shadow: 0 0 80px  #000(255, 0, 0, 1), inset 0 0 60px  #000(255, 0, 0, 0.6); 
    border-color: #000;
  }
    50% {
    transform: scale(1.3); 
    box-shadow: 0 0 80px rgb(20, 20, 20), inset 0 0 60px  #000(255, 0, 0, 0.6); 
    border-color: #000;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 30px rgba(7, 7, 7, 0.8), inset 0 0 30px  #000(255, 0, 0, 0.4);
    border-color: #000;
  }
}